svg {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.eyes {
  transform-box: fill-box;
}
@-webkit-keyframes eyes {
  0% {
    -webkit-transform: translateX(0px);
    transform: rotate(0deg);
    transform-origin: bottom;
    transform-box: fill-box;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: rotate(360deg);
    transform-origin: bottom;
    transform-box: fill-box;
  }
}
@-webkit-keyframes bowspin {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}
.pupils {
  -webkit-animation: eyes 2s ease-in-out infinite;
  animation: eyes 2s linear infinite;
}
.bowtie {
  -webkit-animation: bowspin 1.3s infinite;
  transform-origin: bottom center;
  animation: bowspin .5s infinite;
  -webkit-animation-timing-function: linear;
}